<div class="kanban">
  <div class="kanban__content">
    <section class="task-content" data-state="ready">
      <span class="task-content__title">Ready</span>
      <ul class="task-list task-list__ready" data-state="ready"></ul>
      <form
        class="task-content__form task-content__form_disabled"
        data-state="ready"
      >
        <input
          class="task-content__input form-control me-2"
          data-state="ready"
          name="Task description"
          autocomplete="off"
          type="text"
          placeholder="Task title"
          aria-label="Task title"
        />
        <select
          id="user-list"
          class="task-content__select form-control me-2"
          data-state="ready"
        ></select>
        <button class="task-content__btn-submit" data-state="ready">
          Submit
        </button>
      </form>
      <p id="error-ready" class="error-text app-hidden"></p>
      <button class="task-content__btn-add" data-state="ready">
        + Add Card
      </button>
    </section>
    <!-- IN PROGRESS -->
    <section class="task-content" data-state="in-progress">
      <span class="task-content__title">In Progress</span>
      <ul
        class="task-list task-list__in-progress"
        data-state="in-progress"
      ></ul>
      <form
        class="task-content__form task-content__form_disabled"
        data-state="in-progress"
      >
        <select
          id="task-ready-list-select"
          class="task-content__task-ready-list-select form-control me-2"
          data-state="in-progress"
        ></select>
        <p id="error-ready" class="error-text app-hidden"></p>
        <button class="task-content__btn-submit" data-state="in-progress">
          Submit
        </button>
      </form>
      <button class="task-content__btn-add" data-state="in-progress" role="progress">
        + Add Card
      </button>
    </section>
    <!-- FINISHED -->
    <section class="task-content" data-state="finished">
      <span class="task-content__title">Finished</span>
      <ul class="task-list task-list__finished" data-state="finished"></ul>
      <form
        class="task-content__form task-content__form_disabled"
        data-state="finished"
      >
        <select
          id="task-in-progress-list-select"
          class="task-content__task-in-progress-list-select form-control me-2"
          data-state="finished"
        ></select>
        <button class="task-content__btn-submit" data-state="finished">
          Submit
        </button>
      </form>
      <p id="error-ready" class="error-text app-hidden"></p>
      <button class="task-content__btn-add" data-state="finished" role="finished">
        + Add Card
      </button>
    </section>
  </div>
</div>
